extends _template.pug
block title
	title О компании АСКОМПРОЕКТ
block content
	section.about
		.container
			h1 АСКОМПРОЕКТ  - архитектурно-проектная организация в Москве
			p.before_h1 ,  основная деятельность которой направлена на:
			ul
				li
					strong разработку
					|  любых разделов проектной и технической
					strong  документации;
				li
					strong обмеры
					|  помещений;
				li
					strong согласование
					|  перепланировок жилых и нежилых помещений;
				li
					strong узаконивание
					|  ранее выполненных перепланировок;
				li
					strong консультации
					|  по вопросам согласования;
				li
					strong разработку
					|  профессиональных
					strong  дизайн-проектов
					|  интерьера.
			br
			p
				strong Наша компания является членом СРО
				|  и обладает всеми необходимыми допусками к проектным работам, которые призваны определить безопасность объектов строительства, включая перепланировку нежилых помещений и квартир.
				a(href="#")   Посмотреть сертификаты...
			p Наши проекты выполняются согласно действующих нормативных документов, поэтому в них учтены малейшие изменения регламента, а наличие собственного отдела проектирования позволяет быстро и без лишних затрат подготовить необходимую проектную документацию, не затягивая процесс согласования.
			p Обратившись к нам Вы получите полную консультацию по вопросам проектирования и  возможности выполнения задуманных решений по перепланировке. Мы оказываем полное сопровождение, начиная от момента обращения в нашу компанию вплоть до проведения авторского надзора и подписания актов на скрытые работы.
			p Наш штат сотрудников – исключительно опытные, с большим стажем работы, квалифицированные специалисты, способные решить любую сложную задачу. Убедиться в этом вы можете, позвонив нам по
				a(href="#")   телефонам, указанным на сайте
	include include/_section-callback.pug