extends _template.pug
block title
	title Главная
block breadcrumbs

block content
	section.first_screen
		.container
			.row
				.col-5
					.first_screen-slogan
					.first_screen-slogan-head Перепланировка
						img(src="img/compass.svg").i-svg
					.first_screen-slogan-subhead
						span С нами это просто.
						br
						span Мы сделаем всё за Вас!
				.col-7
					.img-box
						img(src="img/1.jpg")
	section.about
		.container
			h1 АСКОМПРОЕКТ  - архитектурно-проектная организация в Москве
			p.before_h1 ,  основная деятельность которой направлена на:
			ul
				li
					strong разработку
					|  любых разделов проектной и технической
					strong  документации;
				li
					strong обмеры
					|  помещений;
				li
					strong согласование
					|  перепланировок жилых и нежилых помещений;
				li
					strong узаконивание
					|  ранее выполненных перепланировок;
				li
					strong консультации
					|  по вопросам согласования;
				li
					strong разработку
					|  профессиональных
					strong  дизайн-проектов
					|  интерьера.
	include include/_section-callback.pug

	
		

