extends _template.pug
block title
    title Полезная информация | АСКОМПРОЕКТ
block breadcrumbs
    .container
        ul.breadcrumbs
            li
                a(href="index.html") Главная
            li
                a(href="штащ.html") Полезная информация
block content
    main.info
        .container
            h1.text-center Полезная информация
            p Планировка квартиры иногда не удовлетворяет владельца собственности, поэтому часто приходится менять конфигурацию и размеры комнат, устанавливать дополнительную технику, делать проемы. Некоторые работы не требуют получение разрешения на перепланировку, другие надо согласовывать с жилищной инспекцией
            p Перепланировка — ответственное мероприятие, требующее от владельца помещения многих технических и юридических аспектов. Для ее выполнения в правовом поле потребуется согласование многих вопросов и получение разрешения компетентных органов. Время на согласования иногда занимают до нескольких месяцев, но без наличия разрешительного документа любые работы по перепланировке будут считаться незаконными. В итоге можно получить шраф за незаконную перепланировку и предписание восстановить в исходное состояние или согласовать.
            p Незнание законов, предопределяющих получение разрешения на производство перепланировки жилых комнат и нежилых помещений, присоединения балкона (лоджии) к кухне, спальне или гостиной, на расширение ванной за счет разборки перегородок, на узаконивание своевольно перепланированной жилплощади, пр. не дает что-либо предпринять в плане адаптации собственного жилья к нужным потребностям. Вдобавок, законодательство ужесточает требования: если раньше допускалась перепланировка по эскизу, то сейчас обязательно нужен проект.
            p Это имеет логичные объяснения:
            ol
                li Необходимо правильно определить несущие элементы здания и возможность их затрагивания;
                li Понимать санитарные нормы при переносе мокрых зон и объединения помещений различного назначения;
            p Мы рекомендуем на первоначальном этапе проконсультироваться со специалистами и понять возможности реализации задуманного.
            p Получение разрешительных документов переводят затеянную перепланировку в рамки согласованной, а ее проведение — законной. Есть ряд нормативно-правовых документов которые определяют порядок действий при перепланировке:
            ul
                li Жилищный кодекс — статьи 25, 26, 44;
                li Градостроительный кодекс — статья 1;
                li Гражданский кодекс — статья 222;
                li Постановление Госстроя № 170;
                li Санитарные (СП 54.13330.2016, СанПиН 2.1.2.2645-10) правила и нормы;
                li Строительные (СНиП 31-03-2003, СП54.13330.2016) нормы и правила.
            p Для Москвы обязательными к исполнению являются последняя редакция №508-ПП.

            h3 Что запрещается при изменении планировки
            p Перечисленные выше правовые акты запрещают производить такие виды работ:
            ul.no
                li Ухудшающие условия проживания соседей и (или) лимитирующие доступ к коммуникациям (общедомовым), включая переносы стояков водоснабжения, центрального отопления, их зашивку без возможности ревизии состояния труб;
                li Нарушающие несущие свойства здания — разборку или проделывание в несущих стенах проёмов без разрешения;
                li Уменьшающие сечение каналов вентиляционных шахт или препятствующие вентилированию кухонь, ванных комнат, туалетов;
                li Увеличивающие нагрузку на панели перекрытия путем устройства стяжки и кладки массивных перегородок из более тяжелых материалов;
                li Затрагивающие либо допускающие частичную разборку несущих элементов конструкции здания — пилонов, колонн, диафрагм жесткости;
                li Приводящих к ослаблению наружных стен и несущей способности всего сооружения.
            p На законодательном уровне также запрещаются:
            ul.no
                li Врезка задвижек (кранов) в общие домовые коммуникации;
                li Вынос на балконы (лоджии) радиаторов центрального отопления (обустройство там электрических теплых полов возможно);
                li Устройство теплых полов, обогреваемых от центрального отопления и горячего водопровода (на электрические аналоги запрет не действует);
                li Штробление несущих стен и проделывание отверстий;
                li Обустройство дополнительных лоджий на этажах выше первого;
                li Изменение планировки чердака (технического этажа), не относящихся к собственности владельцев (съемщиков) квартир;
                li Объединение с жилыми помещениями кухонь, оборудованных газовыми плитами, и балконов (лоджий);
                li Проделывание проемов между кухней с газовой плитой и комнатой;
                li Оборудование в одном помещении нескольких антресолей, др.
            p Кроме мероприятий, запрещаемых на законодательном уровне, существует перечень работ, которые противоречат санитарно-гигиеническим нормам. Считаем целесообразным рассмотреть такие случаи отдельно.

            h3 Что запрещено санитарными нормами
            p С точки зрения санитарно-гигиенических и правовых норм при модификации жилья запрещается:
            ul.no
                li Расширять и переносить санузлы (ванны и душевые комнаты, туалеты) на жилой метраж и территорию кухонь (исключение — когда под перепланированной квартирой расположен подвал, нежилые помещения);
                li Расширять и переносить кухни на метраж санузлов (исключение — двухуровневые квартиры);
                li Переносить кухни в жилые комнаты (исключение, если под перепланированной квартирой — нежилые помещения, подвал);
                li Устраивать кухни в помещениях, куда не проникает естественное освещение;
                li Обустраивать маленькие кухни-ниши (менее 5 м2 для Москвы);
                li Объединять в одну систему вентилирования кухни и санузлов;
                li Делать полы в «мокрых» помещениях (под расширенной ванной, душевой, туалетом) без гидроизоляции, без порога или не заниженными на 20 мм относительно уровня полов смежных комнат;
                li Из кухни или комнаты проделывать прямой вход в туалет (за исключением наличия второго санузла с выходом в коридор;
                li Разбирать в панельных многоэтажках пороги у выходов на балкон;
                li Демонтировать подоконные блоки и устраивать проемы в несущих стенах домов, автором проектов которых — МНИИТЭП);
                li Делать в монолитных зданиях демонтаж не несущих стен, имеющих выход на лоджию (балкон).

            h3 Перепланировка квартиры: что можно делать
            p Формально разрешено делать все, на что не наложен запрет. Без согласования можно:
            ul.yes
                li Менять окна (деревянные на металлопластиковые), если не изменяются форма и размер оконных проемов;
                li Менять входные и межкомнатные двери в нерушимых дверных проемах;
                li Монтировать в окнах кондиционеры (в домах, отнесенных к историческому наследию, — на стороне во двор);
                li Выполнить установку новых бытовые газовых приборов и сантехники на место старых плит, ванн, унитазов, раковин;
                li Оборудовать подвесные и натяжные потолки;
                li Остеклять балконы и лоджии;
                li Производить демонтаж антресолей;
                li Обустраивать подиумы.
            p Часть работ придется согласовывать. Приведем перечень основных. К ним относятся:
            ul.maybe
                li Расширение (перенос) кухни на нежилые квадратные метры — в коридор, кладовую;
                li Увеличение площади санузлов (мокрых зон) за счет территории нежилых помещений с устройством гидроизоляции;
                li Любые манипуляции с не несущими перегородками между комнатами, коридором, кладовкой, гардеробной, пр.;
                li Разборка в монолитных домах подоконных блоков;
                li Проделывание лимитируемых проемов в несущих стенах с обязательным усилением последних;
                li Снос в монолитных домах порогов и частичный демонтаж наружных стен при наличии хотя бы одного простенка);
                li Переделка устройства полов;
                li Перенос плит, ванн, унитазов, душевых кабин в пределах отведенных помещений (мокрых зон);
                li Объединение электрифицированных кухонь с другими комнатами посредством разборки общих перегородок;
                li Перемещение радиаторов отопления в пределах помещения;
                li Замена плиты (газовой на электрическую);
                li Объединение нескольких квартир, у которых — один собственник;

            h3 Список работ, требующих и не требующих разрешений
            p Прежде чем проводить изменения в помещении, надо знать, какие работы требуют получения разрешений на перепланировку, а какие можно выполнять без ограничений. Оформление документов понадобится, если:
            ul.maybe
                li Делать проемы в несущих стенах.
                li Создавать дополнительную нагрузку на несущую стену.
                li Объединять несколько помещений в одно.
                li Устанавливать дополнительную лоджию при проживании на втором этаже и выше.
                li Монтировать теплые полы и выполнять другие работы.
            p С полным перечнем можно ознакомиться в жилищном кодексе РФ в статьях 25 и 28.
            p Работы, направленные на повышение комфорта при проживании в жилом доме называются переустройством и обычно не требуют получения разрешительной документации. К ним относят — монтаж или демонтаж дверных проемов в не несущих стенах, установку перегородок без создания дополнительных нагрузок на несущие стены, замена сантехнического оборудования без переноса его в другое место, косметический ремонт, монтаж кондиционеров и др.

            h3 Основные этапы получения документов
            p Чтобы получить разрешение на перепланировку квартиры, нужно составить и предоставить проект в жилищную комиссию, дождаться решения и при положительном результате, после установленного законом количество дней получить распоряжение, разрешающее проведение перепланировки.
            p Одним из главных этапов является сбор документов. Для получения положительного решения необходимо собрать и предоставить в уполномоченные органы:
            ul.pen
                li Правоустанавливающие документы.
                li Доверенность, в случае, если документы подает уполномоченное владельцем квартиры лицо.
                li Заявление в установленной форме, предоставляется в жилищной комиссии.
                li Техпаспорт БТИ.
                li Согласие владельца.
                li Согласие финансовой организации, если квартира в ипотеке.
            p Также в случае, если перепланировка касается общедомового имущества, требуется согласие и подписи жильцов дома. При проведении перепланировки в новостройках, когда собственник еще не вступил окончательно в права, требуются дополнительные замещающие документы. Ко всему прочему обязательно предоставляется проект с возможными изменениями.
            p Разрешение на перепланировку квартиры в Москве — обязательное условие для начала проведения работ. В противном случае проверяющий инспектор будет вынужден выписать акт и вам придется платить штраф. В крайнем случае, если не снижена надежность общей конструкции, можно получить разрешение после перепланировки.
            p Учитывайте, что на некоторые виды работ вы не получите согласие в любом случае. Снос несущих стен, изменение в конструкции вентиляционной системы, размещение жилых комнат в помещении с газовым оборудованием и др. работы являются не законными.
            p По всем вопросам получения разрешения на перепланировку обращайтесь в компетентные организации, где вы можете получить профессиональную консультацию. Обязательное условие при выполнение проекта перепланировки -  проектная организация должна иметь допуск СРО на выполнение данных работ. Наша организация данный допуск имеет.
        include include/_section-callback.pug







