extends _template.pug
block title
	title Прайс-лист Аскомпроект
block breadcrumbs
	.container
		ul.breadcrumbs
			li
				a(href="index.html") Главная
			li
				a(href="price.html") Прайс-лист
block content
	main.price
		.container
			h1.text-center Прайс-лист цен на услуги Аскомпроект
			table
				tbody
					tr
						th Вид работ
						th Сроки
						th Стоимость, руб.
					tr
						th(colspan='3') Цены на проектирование (жилые/нежилые помещения)
					tr
						td Техническое заключение о состоянии несущих и ограждающих конструкций
						td 5 раб. дней
						td от 15 000
					tr
						td
							| Техническое заключение о допустимости и безопасности произведенных работ (по факту выполненных работ)
						td 5 раб. дней
						td от 15 000
					tr
						td Проект перепланировки
						td 5 раб. дней
						td от 15 000
					tr
						td Проект реконструктивных работ по фасаду
						td 5 раб. дней
						td от 20 000
					tr
						td
							| Проекты инженерых сетей (водоснабжение и канализация, электрика, отопление, вентиляция, кондиционирование, слаботочные сети, мероприятия по пожарной безопасности)
						td 5 раб. дней
						td от 10 000
					tr
						td Проекты утеплений, теплотехнические расчеты
						td от 2 раб. дней
						td от 5 000
					tr
						td Проекты усиления проемов и конструкций
						td от 2 раб. дней
						td от 10 000
					tr
						td Дизаин-проект
						td индивидуально
						td от 600 р/м <sup>2</sup>
					tr
						th(colspan='3') Цены на согласование проектной документации
					tr
						td Получение разрешения на перепланировку без затрагивания несущих конструкций
						td 2-3 мес.
						td от 40 000
					tr
						td Получение разрешения на перепланировку с затрагиванием несущих конструкций
						td от 2 мес.
						td от 45 000
					tr
						td Подписание акта о завершенной перепланировке мосжилинспекции
						td от 1 мес.
						td 15000
					tr
						td Согласование ранее выполненной перепланировки квартир
						td 2-3 мес.
						td от 40 000
			br
			a(href="price.xls" target="_blank").excel_logo
				img(src="img/Excel_logo.png")
				| Скачать прайс в формате Excel



	include include/_section-callback.pug