extends _template.pug
block title
    title Примеры работ АСКОМПРОЕКТ
block content
    main.primery#primery
        .container
            h1 Примеры работ Аскомпроект
            a(href="primer1.html") primer1.html
            br
            a(href="primer2.html") primer2.html
            br
            a(href="primer3.html") primer3.html
