extends _template.pug
block title
	title Примеры работ | АСКОМПРОЕКТ
block content
	section.primery#primer1
		.container
			h1 Примеры наших работ
			p В данном разделе представлены основные планы из проектов перепланировок квартир:
			ul
				li план "до перепланировки";
				li планы "демонтажа и монтажа конструкций";
				li план "после перепланировки".
				p Планы дают полное представление о планируемых работах, именно на них инспектора обращают основное внимание.


			h2 Пример 1. План квартиры №16 до переппанировки и переустройства (М1:100)
			hr
			h3 Описание работ
			p Перепланировка квартиры №16 заключается в объединении уборной и ванной комнат и расширения вновь образованного санузла за счет коридора, объединении кухни с гостиной за счет демонтажа ненесущей перегородки, изменении размеров жилых комнат и устройства гардеробной.
			br
			.img-box
				p План квартиры №16 до перепланировки и переустройства (М1:100)
				img(src="img/primery/primer1/before.jpg")

			p.text-center Экспликация помещений квартиры №16 до перепланировки и переустройства
			table
				tr
					th(rowspan="2") этаж
					th(rowspan="2") № комн.
					th(rowspan="2") хар-ки помещений
					th(colspan="3") общая площадь
					th(colspan="3") общая площадь
					th(rowspan="2") высота
				tr
					th всего
					th основ.
					th вспом.
					th лодж.
					th балк.
					th проч.
				tr
					td 5
					td 1
					td жилая изолированная
					td 11,90
					td 11,90
					td
					td
					td
					td
					td 255
				tr
					td
					td 2
					td жилая изолированная
					td 13,10
					td 13,10
					td
					td
					td
					td
					td
				tr
					td
					td 3
					td жилая изолированная
					td 17,50
					td 17,50
					td
					td
					td
					td
					td
				tr
					td
					td 3а
					td лоджия
					td
					td
					td
					td 3,60
					td
					td
					td
				tr
					td
					td 4
					td кухня
					td 7,10
					td
					td 7,10
					td
					td
					td
					td
				tr
					td
					td 5
					td ванная
					td 2,70
					td
					td 2,70
					td
					td
					td
					td
				tr
					td
					td 6
					td уборная
					td 1,10
					td
					td 1,10
					td
					td
					td
					td
				tr
					td
					td 7
					td коридор
					td 11,80
					td
					td 11,80
					td
					td
					td
					td
				tr
					td
					td 7а
					td шкаф встроенный
					td 1,30
					td
					td 1,30
					td
					td
					td
					td
				tr
					td
					td
					td итого по квартире
					td 66,50
					td 42,50
					td 24,00
					td 3,60
					td
					td
					td


			br
			p Проект перепланировки и переустройства предусматривает проведение следующих мероприятий:
			h4 Демонтажные работы:
			.img-box
				img(src="img/primery/primer1/demontage.jpg")
			ul
				li производится демонтаж ненесущих перегородок в том числе с дверными блоками, санитарно-технического оборудования в помещениях квартиры №16 согласно плана демонтажных работ  (см. лист 4 графической части);
				li производится демонтаж санитарно-технического оборудования в помещениях (№4, 5, 6) квартиры №16 согласно плана демонтажных работ  (см. лист 4 графической части);
				li производится демонтаж электрической плиты в помещениях (№4) квартиры №16 согласно плана демонтажных работ  (см. лист 4 графической части);
				li производится демонтаж существующей конструкции полов во всех помещениях квартиры;


			h4 Монтажные работы:
			.img-box
				img(src="img/primery/primer1/montage.jpg")
			ul
				li производится закладка дверного проема между помещениями №4, №5 согласно плана монтажных работ.  (см. лист 5 графической части);
				li производится монтаж ненесущих перегородок из гипсовых пазогребневых блоков в квартире №16 согласно плана монтажных работ (см. лист 5 графической части);
				li производится монтаж санитарно-технического оборудования в помещениях (№4, 5) квартиры №16 согласно плана монтажных работ (см. лист 5 графической части);
				li производится монтаж электрической плиты  в пом. 4 в квартире №16 согласно плана монтажных работ (см. лист 5 графической части);
				li во всех помещениях квартиры №16 производится  выполнение конструкции полов с устройством шумоизоляции и гидроизоляции «мокрых» зон (см. листы 9, 10 графической части).
				li производится остекление лоджии (пом.№3а) согласно плана монтажных работ (см. лист 5 графической части);
			br
			.img-box
				p План квартиры №16 после перепланировки и переустройства (М1:100)
				img(src="img/primery/primer1/after.jpg")
			p.text-center Экспликация помещений квартиры №16 после перепланировки и переустройства
			table
				tr
					th(rowspan="2") этаж
					th(rowspan="2") № комн.
					th(rowspan="2") хар-ки помещений
					th(colspan="3") общая площадь
					th(colspan="3") общая площадь
					th(rowspan="2") высота
				tr
					th всего
					th основ.
					th вспом.
					th лодж.
					th балк.
					th проч.
				tr
					td 5
					td 1
					td Гостиная
					td 15,10
					td
					td 15,10
					td
					td
					td
					td 255
				tr
					td
					td 2
					td Жилая изолированная
					td 11,30
					td 11,30
					td
					td
					td
					td
					td
				tr
					td
					td 3
					td Жилая изолированная
					td 11,70
					td 11,70
					td
					td
					td
					td
					td
				tr
					td
					td 3а
					td Лоджия
					td
					td
					td
					td 3,60
					td
					td
					td
				tr
					td
					td 4
					td Кухня
					td 7,10
					td
					td 7,10
					td
					td
					td
					td
				tr
					td
					td 5
					td Санузел
					td 6,60
					td
					td 6,60
					td
					td
					td
					td
				tr
					td
					td 6
					td Гардеробная
					td 2,40
					td
					td 2,40
					td
					td
					td
					td
				tr
					td
					td 7
					td коридор
					td 12,30
					td
					td 12,30
					td
					td
					td
					td
				tr
					td
					td
					td Итого по квартире
					td 66,50
					td 23,00
					td 43,50
					td 3,60
					td
					td
					td
	include include/_section-callback.pug

